* {
	outline:none;
	-webkit-tap-highlight-color:transparent;
}
a{
    text-decoration:none;
}
ul li{
    list-style-type:none;
}
.clear{
    clear:both;
}
.clearLeft{
    clear:left;
}
html,body,div,img,ul,li,a,h1,h2,h3,h4,h5,h6,input,form,p{
    margin:0px;
    padding:0px;
}
body{
    font-family: "wm15",'Raleway', Helvetica, Arial, sans-serif;
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: 300;
    font-size: 0.99em;
    color: #515c62;
    background:#ededed;
    background:#e9e6e2;
    border-top:#fff 1px solid;
}
p{
    font-family: 'raleway',Helvetica, Arial, sans-serif;
    margin-bottom:6px;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 0.87em;
    text-align:justify;
    line-height: 1.5;
    outline:none;
}
#logo{
    text-indent:-9999px;
    width:152px;
    height:112px;
    background:url(../assets/logo.png) no-repeat 0 0;
    position:absolute;
    left:20px;
    top:20px;
}
#header{
    position:relative;
    background:#b8ac97;
    border-bottom:#8f8676 1px solid;
}
#header .inner{
    position:relative;
    height:180px;
}

#topheader{
    height:100px;
}
#title{
    padding:0;
}
#nav{
    position:absolute;
    top:40px;
    right:30px;
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    letter-spacing: 0.07em;
    font-weight: 400;
    color:#fff;
}
#nav a{
    margin-left:40px;
    padding-bottom:4px;
    color:#fff;
}
#nav a:hover{
    border-bottom:#fff 1px solid;
}
#header .nav{
    height:50px;
    text-align:center;
    border-top:#d1cdc6 1px solid;
}
#header .nav a{
    display:block;
    float:left;
    height:50px;
    line-height:50px;
    font-size:11px;
    font-family:tahoma;
}
#header .nav a.prev{
    width:20%;
    border-right:#d1cdc6 1px solid;
}
#header .nav a.next{
    width:20%;
    border-left:#d1cdc6 1px solid;
}
#header .nav a.results{
    width:59%;
}
#title{
    width:100%;
    position:absolute;
    left:0;
    bottom:20px;
    font-family: 'Roboto Slab', serif;
    -webkit-font-smoothing: antialiased;
    color: #fcfcfc;
}
#title h3{
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 10px;
    line-height: 50px;
    text-align:center;
    text-transform:uppercase;
}
#title .desc{
    width:50%;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin:0 auto;
    word-spacing:7px;
}
.produit{
    padding:30px;
    border-bottom:#ccc 1px solid;
    height:220px;
}
.produit .left{
    position:relative;
    background:#fff;
    width:600px;
    height:200px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(/css/border-radius.htc);
    border-radius: 2px;
    padding:10px;
    float:left;
}
.produit .ref{
    display:block;
    padding:0 8px;
    height:30px;
    line-height:30px;
    background:#fef7c7;
    border:#fef7c7 1px solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(/css/border-radius.htc);
    border-radius: 2px;
    font-size:11px;
    font-family:arial;
    color:#999;
    text-align:center;
}
.produit .ref span{
    font-size:14px;
    color: #5a9402;
    text-transform:uppercase;
    font-weight:bold;
}
.produit a.more{
    display:block;
    padding:0 10px;
    height:30px;
    line-height:30px;
    font-size:11px;
    font-weight:bold;
    color:#fff;
    background-color:rgba(248, 112, 3, 0.5);
    border:#f87003 1px solid;
    font-family: arial;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(/css/border-radius.htc);
    border-radius: 2px;
}
.produit a.more:hover{
    background-color:rgba(248, 112, 3, 1);
}
.produit .image{
    height:200px;
    width:300px;
    float:left;

}
.produit .image a{
    display:block;
    width:300px;
    height:200px;
    background-position:left;
    text-indent:-9999px;
    background:#000;
}
.produit h3, #produit h3{
    font-family: "Open Sans",sans-serif, "Raleway", arial;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1.2;
    padding:0 0 10px;
    color:#000;
    -webkit-font-smoothing:antialiased;
}
#produit h3{
    color:#0289b5;
    font-size:1.3em;
    margin-bottom:10px;
    font-weight:400;
}
.produit h3 a{
    color:#0289b5;
}
.produit h3 a:hover{
    color:#03a7dd;
}
.produit .right{
    margin-left:650px;
    left:650px;
    padding-top:13px;
}
.produit .infos{
    margin-left:310px;
    left:310px;
}
.infos .location, #sidebar .location{
    font-family: Arial;
    font-family: "Open Sans",sans-serif;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    color:#5a9402;
    -webkit-font-smoothing:antialiased;
    text-align:center;
    padding:5px 0 15px;
    background:url(../assets/title_bg2.png) no-repeat bottom center;
}
#sidebar .location{
    padding:0 0 30px;
}
.infos .location a{
    color:#101010;
}
.infos .location a:hover{
    color:#03a7dd;
}
.tags{
    font-family: "Open Sans",sans-serif;
    font-weight: 300;
    font-size: 0.79em;
    color: #5a9402;
    text-align:center;
    padding:10px 0 15px;
    line-height:1.8em;
    background:url(../assets/title_bg2.png) no-repeat bottom center;
    text-align:center;
}
.tags .first{
    display:block;
}
.tags span{
    margin:0 12px;
}
#sidebar .tags {
    padding:30px 0;
}
.price{
    padding-top:10px;
    color:#fc5c30;
    font-family:arial;
    font-size:18px;
    text-align:center;
    font-weight:bold;
}
#sidebar .price{
    padding:15px 0 5px;
}
.price span.eur{
    margin-left:20px;
}
.price span.devise{
    font-size:12px;
}
.price span.nb{
    display:block;
    font-size:11px;
    font-family:tahoma;
    font-weight:normal;
    padding:5px 60px;
}
.produit ul{
    margin-top:30px;
    font-size:11px;
}
.produit ul li{
    float:left;
    margin-right:7px;
}
.produit ul li{
    font-family: "Open Sans",sans-serif;
    font-size:1.2em;
    font-weight:500;
}
.produit ul li span.ref{
    font-weight:900;
    color:#5a9402;
}

.paginator{
    font-family: "Open Sans",sans-serif;
    padding:40px 0 100px;
    margin:0 auto;
    text-align:center;
    font-size:0.8em;
}
.paginator span{
    padding:10px 15px;
    margin:0 4px;
    font-weight:600;
    background:#fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(/css/border-radius.htc);
    border-radius: 2px;
}
.paginator span a{
    color:#03b3ed;
}
#footer{
    background:#b8ac97; /*b8ac97;*/
    border-top:#666 1px solid;
}
#footer .inner{
    position:relative;
    height:250px;
    width:900px;
    margin:0 auto;
}
#se{
    width:820px;
    margin:0 auto 15px;
    background:url(../assets/se_bg2.png) no-repeat bottom center;
    padding:60px 0;
}
#se form{
    width:550px;
    position:relative;
    background:rgba(108, 46, 35, 1);
    padding:5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/css/border-radius.htc);
    border-radius: 3px;
    margin:0 auto;
}
#se .search{
    position:absolute;
    display:block;
    text-indent:-9999px;
    height:55px;
    width:60px;
    top:0;
    right:-2px;
    background:#f87003 url(../assets/search_bg.png) no-repeat center;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -khtml-border-radius: 0 3px 3px 0;
    behavior: url(/css/border-radius.htc);
    border-radius: 0 3px 3px 0;
}
#se .inner .search:hover{
    background-color:#1fa3ff;
}
#se h3{
    font-family: "Open Sans",sans-serif, "Raleway", arial;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 1.2;
    padding:0 0 15px;
    color:#fff;
    -webkit-font-smoothing:antialiased;
    text-align:center;
}
#footer .links{
    text-align:center;
    color:#fff;
}
#footer .links a{
    color:#fff;
    margin:0 20px;
}
#footer .links p{
    font-family:tahoma;
    font-size:11px;
    text-align:center;
    line-height:12px;
}
/*
#footer a{
    font-family: "Open Sans",sans-serif, arial;
    font-weight:600;
    font-size:0.75em;
    line-height:50px;
    margin-right:25px;
    color:#fff;
}
*/
#footer .copy{
    position:absolute;
    right:0;
    top:0;
    line-height:50px;
    color:#fff;
    font-family: "Open Sans",sans-serif, arial;
    font-weight:600;
    font-size:0.65em;
    line-height:50px;
    text-align:right;
}
#details{
    margin:20px 10% 80px;
}
#details #sidebar{
    width:300px;
    float:right;
    margin-top:-15px;
}
#details #produit{
    margin-right:300px;
    right:300px;
    border-right:#ccc 2px dotted;
}
#navprod{
    height:45px;
    text-align:right;
    margin:60px 0 60px;
}
#produits #navprod{
    padding:30px 30px 0;
    margin:0;
    border-bottom:#ccc 1px solid;
}
 #navprod a{
    font-family: Arial;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    text-align:justify;
    padding:10px;
    font-size:0.7em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/css/border-radius.htc);
    border-radius: 3px;
    background-color:rgba(184, 172, 151, 0.5);
    border:#b8ac97 1px solid;
    color:#fff;
    margin:0 4px 0 0;
}
#navprod .loue{
    padding:10px 60px;
    background-color:rgba(248, 112, 3, 0.5);
    border:#f87003 1px solid;
}
#navprod .loue:hover, #navprod a:hover, #navprod a.active{
    background-color:#f87003;
    border-color:#f87003;
}
#sidebar .section{
    margin:0px 20px;
    padding:20px 0;
    border-bottom:#ccc 1px solid;
}
#produit .inner{
    width:90%;
    margin:0 10% 0 0;
    padding: 0;
}
#produit .desc{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.99em;
    line-height: 27px;
    color: #515c62;
    text-align:justify;
}
.par0, .par1{
    font-weight: 300;
    font-size: 0.99em;
    line-height: 27px;
    width:45%;
    float:left;
}
.par0{
    margin-right:10%;
}
#slideshow{
    position:relative;
    margin:60px 0;
    padding:0;
    /*background:url(../assets/slide_bg.png);*/
    overflow:hidden;
    padding:20px 0;
}

/*
#slideshow{
    margin:0px;
    padding:0;
    overflow:hidden;
}
*/
#slideshow .inner{
    margin:60px 40px;
    margin:0 auto;
    padding:0;
    position:relative;
    overflow:hidden;
    height:445px;
}
#slideshow .images{
    overflow:hidden;
    padding:0;
    margin:0;
}
#slideshow .image{
    position:relative;
    overflow:hidden;
    padding:0;
    margin-left:10px;
    background:#000;
}
#slideshow .image ul{
    top:0;
    left:0;
    padding:0;
    margin:0;
    position:absolute;
    overflow:hidden;
    background:transparent url(../assets/front/load-indicator.gif) no-repeat scroll 50% 50%;
}
#slideshow .image ul li{
    overflow:hidden;
    padding:0px;
    margin:0px;
    float:left;
    position:relative;
}
#slideshow .navigator{
    position:relative;
    margin-top:2px;
    width:660px;
    height:60px;
    background:#000;
    margin-left:10px;


}
#slideshow .navigator ul{
    top:0px;
    padding:0;
    margin:0;
    width:100%;
}
#slideshow .navigator ul li{
    margin:0px;
    padding:0px;
    color:#555555;
    float:left;
    margin-right:7px;
    margin-top:7px;
}
#slideshow .navigator ul li p{
    position:relative;
    border:#ccc 1px solid;
    background:#f9f9f9;
    width:78px;
    height:54px;

}
#slideshow .navigator ul li a{
    display:block;
    position:absolute;
    top:2px;
    left:2px;
    width:75px;  /*99*/
    height:50px;  /*67*/
}
#slideshow .navigator ul li.active p{
    background:#fef4f0;
    border:#fa6b33 1px solid;
}
#slideshow .prev, #slideshow .next{
    display:block;
    position:absolute;
    top:213px;
    text-indent:-9999px;
    width:50px;
    height:50px;
}
#slideshow .prev{
    right:20px;
    background:url(../assets/arrows.png) -52px -52px;
}
#slideshow .next{
    left:20px;
    background:url(../assets/arrows.png) 0 -52px;
}
#slideshow .prev:hover{
    background-position:-52px 0;
}
#slideshow .next:hover{
    background-position:0 0;
}
#gestion{
    margin:20px 10% 120px;
}
#gestion .left, #gestion .right{
    float:left;
    width:56%;
    text-align:justify;
}
#gestion .right{
    width:34%;
    float:right;
}
.gestionlocative #header .inner{
    height:300px;
}
#gestion .section{
    margin-top:70px;
    text-align:justify;
    font-family: "Open Sans",sans-serif;
    font-size:16px;
    font-weight:300;
}
#gestion h3{
    font-family: "Open Sans",sans-serif, "Raleway", arial;
    font-weight: 500;
    text-transform:uppercase;
    font-size: 16px;
    color: #515C62;
    line-height: 1.2;
    padding:0 0 10px;
    -webkit-font-smoothing:antialiased;
}
#gestion ul li{
    line-height:20px;
    word-spacing:3px;
    padding-bottom:10px;
}
#gestion .inner{
    padding-bottom:50px;
    border-bottom:#ccc 2px dotted;
}
#details .links, #gestion .links{
    padding:40px 0 100px;
    text-align:center;
}
#details .links a, #gestion .links a{
    font-family: Arial;
    font-weight: 600;
    text-transform:uppercase;
    -webkit-font-smoothing: antialiased;
    text-align:justify;
    padding:14px;
    font-size:0.7em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/css/border-radius.htc);
    border-radius: 3px;
    background-color:rgba(248, 112, 3, 0.5);
    border:#f87003 1px solid;
    color:#fff;
    margin:0 4px;
}
.nodata{
    /*width:60%;*/
    margin:90px auto 0;
   text-align:center;
   font-weight:bold;
   /*background:#e0ffef;
   border:#75d688 1px solid;
   -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    behavior: url(/css/border-radius.htc);
    border-radius: 3px;*/
}
.nodata p{
    text-align:center;
}